@font-face
{
	src:url('../fonts/ProximaNova-Regular.otf');
	font-family:'proxima';
}

*
{
	font-family:'proxima';
	font-size:15px;
}

html
{
	background-color:#F39C12;
}﻿
#wrapper {
	margin-left: 240px;
}

#menu {
    float: left;
    width: 200px;
    list-style-type: none;
    margin: 5px 0 0 20px;
    padding: 0;
    height:100%;
}

#menu li {
	font-weight: bold;
	margin: 5px;
}

a
{
	color:white;
}