#wrapper {
	margin-left: 240px;
}

#menu {
    float: left;
    width: 200px;
    list-style-type: none;
    margin: 5px 0 0 20px;
    padding: 0;
}

#menu li {
	font-weight: bold;
	margin: 5px;
}

#menu li a.section {
	color: #333;
}
